body {
  margin: 0%;
}

/* .links {
  display: grid;
  grid-template-columns: 6fr 2fr;
  justify-content: space-evenly;
  align-self: auto;
  list-style: none;
  padding-inline-start: 0%;
  justify-content: space-evenly;
  color: black;
  font-weight: normal;
  overflow-x: auto;
  font-family: "Work Sans", sans-serif;
} */

/* header {
  overflow: hidden;
} */

ul.links {
  margin: 0%;
  padding: 0%;
}

.links img {
  object-fit: cover;
  width: auto;
  /* margin-left: 30px;
  margin-top: 20px; */
  /* overflow: hidden; */
}

.row_links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  font-family: "Work Sans", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
  align-self: center;
  justify-content: space-evenly;

  /* display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  justify-content: space-evenly; */
}

a:hover {
  color: #ce1f1f;
  /* text-transform: uppercase; */
  background-color: #ffffff;
  padding: 0.2rem;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  margin: 0%;
}

/* h1 {
  margin-right: 30px;
  margin-left: 30px;
  font-family: "Poiret One", cursive;
} */

h2 {
  margin-top: 50px;
  font-family: "Work Sans", sans-serif;
}

/* --///-----------  MOBILE ------------///-- */

@media (orientation: portrait) and (min-width: 480px) {
  a {
    font-size: 25px;
  }

  #first_section {
    margin: 10px;
  }

  #first_section .section_wrapper img {
    width: 100%;
  }
}

/* --///----------- TABLET  TIL DESKTOP ------------///-- */

@media (min-width: 768px) {
  header {
    margin-top: 20px;
  }

  .links {
    display: grid;
    grid-template-columns: 6fr 2fr;
    justify-content: space-evenly;
    /* align-self: auto; */
    list-style: none;
    padding-inline-start: 0%;
    justify-content: space-evenly;
    color: black;
    font-weight: normal;
    overflow-x: auto;
    font-family: "Work Sans", sans-serif;
  }

  .links img {
    object-fit: cover;
    width: auto;
    /* margin-left: 30px;
  margin-top: 20px; */
    /* overflow: hidden; */
  }

  a {
    font-size: 30px;
  }

  .row_links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
  }

  #first_section {
    margin-left: 100px;
    margin-right: 100px;
  }
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first_section .section_wrapper img {
    width: 80%;
    order: -1;
  }

  #second_section {
    margin-left: 100px;
    margin-right: 100px;
  }
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }

  #second_section .section_wrapper .image1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #second_section .section_wrapper.image2 {
    grid-column: 4;
    grid-row: 1/3;
  }
  #second_section .section_wrapper .image3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #second_section .section_wrapper .image4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  #second_section .section_wrapper .image5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #second_section .section_wrapper .image6 {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  #second_section .section_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* --///----------- DESKTOP  ------------///-- */

/* @media (min-width: 1024px) {
  #first_section {
    margin: 100px;
  }
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first_section .section_wrapper img {
    width: 70%;
    order: -1;
  }

  #second_section h2 {
    margin: 100px;
  }
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 100px;
  }

  #second_section .section_wrapper .image1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #second_section .section_wrapper.image2 {
    grid-column: 4;
    grid-row: 1/3;
  }
  #second_section .section_wrapper .image3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #second_section .section_wrapper .image4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  #second_section .section_wrapper .image5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #second_section .section_wrapper .image6 {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  #second_section .section_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} */
